@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --watermelon-red: #f96666;
  --royal-blue: #4379f2;
  --persian-green: #009990;

  --light-steel-blue: rgb(148, 163, 184);
  --light-steel-blue-10: rgba(148, 163, 184, 0.2);

  --ghost-white: #f8fafc;
  --charcoal: #1e293b;
}

@theme inline {
  --drop-shadow-light-steel-blue: 0 0 10px var(--light-steel-blue-10);
  /* custom colors */
  --color-watermelon-red: var(--watermelon-red);
  --color-royal-blue: var(--royal-blue);
  --color-persian-green: var(--persian-green);
  --color-light-steel-blue: var(--light-steel-blue);
  --color-ghost-white: var(--ghost-white);
  --color-charcoal: var(--charcoal);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYTHINITALIC.OTF");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYLIGHTITALIC.OTF");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYBLACKITALIC.OTF");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("/fonts/SFPRODISPLAYHEAVYITALIC.OTF");
  font-weight: 900;
  font-style: italic;
}

@theme {
  --font-sf-pro-display: "SF-Pro-Display", Arial, sans-serif;
  --color-not-started: #f96666;
  --color-in-progress: #4379f2;
  --color-finished: #009990;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF-Pro-Display", Arial, Helvetica, sans-serif;
}
